* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url(/images/front-restaurant-with-wooden-door-large-window-with-word-bar-it_899894-37635.avif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.main-header {
  background-color: gold;
  width: 100%;
  height: 15vh; 
  /* display: cflex; */

}
img{
  width: 88px;
  position: absolute;
  margin-left: 1rem;
  
}

.main-header .nav-1{
  float: right;
  margin-top: 1rem;
}
.main-header .nav-1 a{
  padding: 1rem;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

#bar, .header-bar{
  display: none;
}

section{
  width: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  min-height: 90vh;
  padding: 0 10px;
  color: white;
  
}

section::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}

.wrapper{
  width: 490px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid #ffffff80;
  margin-top: 5rem;
  backdrop-filter: blur(8px);
}

form{
  display: flex;
  flex-direction: column;
}

h1{
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: gold;
}

.input-field{
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
  
}
.input-field label{
  position: absolute;
  color: #fff;
  left: 0;
  transform: translateY(-50);
  font-size: 16px;
  text-transform: capitalize;
  pointer-events: none;
  transition: 0.15s ease;
}



.input-field  input{
  width: 100%;
  height: 40px;
  color: gold;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
}

.input-field input:focus~label,
.input-field input:valid~label{
  font-size: 0.8rem;
  top:-3px;
  transform: translateY(-120);

} 
button{
    background: gold;  
    color: #000;
    font-weight: 600;
    border:none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    /* border: 2px solid transparent; */
    transition: .3s ease;
}
button:hover{
  background-color: #000;
  color: gold;
}

.wrapper  a{
    color: #efefef;
    text-decoration: underline;
}

.log-in{
    text-align: center;
    margin-top: 30px;
    color: white;
    
}
.log-in p a:hover{
  color: gold;
}

footer{
    background-color: gold;
    height: 10vh;
    width: 100%;

}

/* responsiveness */

@media (max-width:950px){



  .header-bar .bars{
    background-color: black;
    width: 100%;
    padding: 1.5px;
    margin-top: 3px;
    display: inline-block;
  }

  .nav-1{
    position: absolute;
    top: 80px;
    background-color: gray;
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding: 2rem;
    right: -100%;
    transition: right 300ms ease-in;
    z-index: 1;
    opacity: .7;
    border: 2rem;
    text-transform: uppercase;


  }
  .nav-1 a:hover{
        color: gold;
    }

  .header-bar{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 15px;
    margin: 10px;
    margin-top: 25px;
  }

  #bar{
    transform: scale(1);
    transition: right 500ms ease-in-out;
  }

  #bar:checked~.nav-1{
    right: 0;
  }

}